[Desktop Entry]
Type=Application
Version=1.0
Name=Uninstall SUGO
Comment=Sugo uninstaller
Path=/opt/sugo
Exec=/opt/sugo/UNINSTALL.sh
Icon=/opt/sugo/assets/logo.png
Terminal=true
Categories=System
